<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <%- include("header") %>
    <form action="/home" method="post">
      <div class="home-container">
        <h1 class="text-3D">Taskverse</h1>
        <div class="animated-text">
          <span id="changing-text"></span>
        </div>
      </div>
      <div class="home-container">
         <h2 class="section-heading">ABOUT US</h2>
         <!-- Slideshow container -->
         <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext-task">1 / 3</div>
            <img src="/images/task.png" alt="Task" class="slide-image">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/images/note.png" alt="Note" class="slide-image">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/images/game.png" alt="Game" class="slide-image">
          </div>
          
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
          </div>
          <div class="about_txt">
            <div class="about_text1">
            <p>Introducing Taskverse: The Ultimate Task Manager with Entertainment and Note-Taking Features!
              We are thrilled to introduce Taskverse, a groundbreaking feature on our website designed to
               revolutionize your task management experience. With Taskverse, you can effortlessly organize
                your to-do list while enjoying entertaining games and taking important notes.
                 Let's delve into the key highlights of this remarkable tool.</p>
              </div>
              <div class="about_text2">
              <p>Taskverse: Your Personal Task Manager
              Say goodbye to scattered notes and overwhelming task lists. 
              Taskverse provides a comprehensive and user-friendly interface to 
              help you stay on top of your responsibilities. From daily chores to
               work assignments and personal goals, Taskverse streamlines your task management process.
              Efficiency is central to Taskverse's design. Enjoy features like drag-and-drop functionality, 
              due date reminders, and priority settings, allowing you to effortlessly prioritize and 
              manage your tasks. Witness the satisfaction of checking off completed tasks and experience 
              a sense of accomplishment as your to-do list diminishes.</p>
            </div>
            <div class="about_text3">
              <p>GameVerse: Beat Boredom with Fun
              Productivity can occasionally be accompanied by
               boredom or mental fatigue. That's where GameVerse comes in. 
               Within Taskverse, you have access to a variety of exciting and 
               addictive games. Whether you prefer puzzles, quizzes, or action-packed challenges,
               GameVerse offers something for everyone. Take a brief break, recharge your mind, 
               and return to your tasks feeling refreshed and motivated.</p>
            </div>
            <div class="about_text4">
              <p>NoteVerse: Capture Your Ideas and Important Information
              Recognizing the need for quick note-taking, we present NoteVerse – 
              your go-to tool for jotting down ideas and storing essential information.
               With NoteVerse, creating, organizing, and accessing notes is effortless.
                Whether it's preparing for an important meeting, capturing creative thoughts,
                 or saving crucial reminders, NoteVerse has you covered. Stay organized and 
                 have access to your notes anytime, anywhere.
              </p>
              </div>
              <div class="about_text5">
              <p>The Power of Integration
              Taskverse truly shines in its seamless integration with other features on our website. 
              Easily link tasks to specific notes, ensuring all relevant information is connected.
               This integration allows you to track progress, access related notes, and maintain a holistic view of your projects.
              
              Taskverse: Boosting Productivity and Fun
              In summary, Taskverse goes beyond a regular to-do list. 
              It is a powerful task management tool that combines productivity 
              with entertainment. From effective task management to enjoyable 
              breaks with GameVerse and capturing ideas and information with 
              NoteVerse, Taskverse offers a complete package to enhance your productivity and keep you engaged.
              
              Experience the power of Taskverse today and take control of your tasks like never before.
               Say goodbye to chaos and hello to productivity with Taskverse – your ultimate task manager and more!
               </p>
               </div>
          </div>
          </div>
      </div>      
    </form>
    <script src="/JS/home.js"></script>
    <%- include("footer") %>
</body>
</html>

