body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
}
.about_text1 {
  background-color: #030f38;
  color: #ff9a9e;
  margin-left: 100px;
  border: 2px solid #f2f2f2;
  margin-top: 90px;
  margin-right: 100px;
  border-radius: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.about_text2{
  background-color: #030f38;
  color: #ff9a9e;
  border: 2px solid #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.about_text3 {
  background-color: #030f38;
  color: #ff9a9e;
  border: 2px solid #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.about_text4 {
  background-color: #030f38;
  color: #ff9a9e;
  border: 2px solid #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.about_text5 {
  background-color: #030f38;
  color: #ff9a9e;
  border: 2px solid #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
  margin-bottom: 10px;
   font-size: 20px;
}
.home-container {
  text-align: center;
  height: 100%;
  background-size: cover;
  padding-bottom: 190px;
}

.section-heading {
  color: #030f38;
  font-size: 35px;
  padding-bottom: 30px;
}

.text-3D {
  margin-top: 15%;
  font-size: 80px;
  color: #030f38;
  text-shadow:
      0 0 2px #ffff,
      0 0 4px #ffff,
      0 0 6px #ffff,
      0 0 8px #ffff,
      0 0 10px #030f38,
      0 0 12px #030f38,
      0 0 14px #030f38,
      0 0 16px #ffff,
      0 0 18px #ffff,
      0 0 20px #ffff;
  animation: slide-in 2s ease-in-out;
}

.animated-text {
  position: relative;
  margin-top: 50px;

}

#changing-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #030f38;
  animation: fade-in 2s ease-in-out forwards;
  animation: slide-in 2s ease-in-out;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.mySlides {
  display: none;
}

.slide-image {
  width: 100%;
  border-radius: 50px;
  border: 2px solid #030f38;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev {
  margin-left: -495px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #030f38;
}

.numbertext-task {
  color: #030f38;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 25px;
  position: absolute;
  top: 10px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 15px 25px;
  position: absolute;
  top: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #030f38;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
      font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
      height: 500px;
      background-position: center;
      position: relative;
  }

  .section2 {
      text-align: center;
      margin-bottom: 10px;
  }
}

